@import "tailwindcss";

@layer base {
  :root {
    --premium-red: #B9314F;
    --warm-off-white: #FBF9F1;
    --cool-gray: #E5E1DA;
    --text-color: #363636;
    --premium-red-text: #B9314F;
  }
  body {
    @apply bg-[var(--warm-off-white)] text-[var(--text-color)];
    font-family: 'Montserrat', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}

@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out forwards;
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-scan {
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
